@import '~antd/dist/antd.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Start of Header custom CSS */

header.ant-layout-header {
  display: grid;
  grid-template-rows: 3.5fr 3fr 3.5fr;
  grid-template-columns: 0.7fr 4fr auto 1fr ;
}

span.ant-input-group-wrapper.ant-input-search {
  /* Make sure calling multple class by .class1.class2 without space 
    *** With space, it's equal to calling the children .class2 from .class1
  */
  grid-column-start: 2;
  grid-row: 2 / 2 ;
  max-width: 460px;
  /* Align self to align CHILDREN to the center of the row */
  /* Justify self to align CHILDREN to the center of the column */
  align-self: center;
}

ul.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light {
  grid-column: 4 / span 1 ;
  grid-row-start: 2;
  align-self: center;
  display: flex;
  width: 60%;
}

li.ant-menu-overflow-item.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
  flex-direction: column-reverse
}

/* End of Header custom CSS */

/* Start of Login custom CSS */
.log-in__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.log-in__card {
  margin-top: 10%;
  width: 600px;
  text-align: center;
  padding-bottom: 5%;
}

.login-button__google {
  padding: 10px;
  margin-top: 7%;
  border: 1px solid #111;
  width: 200px;
  background-color: #fff;
  color: #000;
}


.login-button__google:active {
  background-color: #3367d6;
}

.login-button__google-text {
  text-align: left;
}

/* End of Login custom CSS */


/* Start of Register custom CSS */
.register-content {
  display: flex;
  justify-content: center;
  align-content: center;
}

form.ant-form-vertical {
  margin-top: 10%;
}

.register__form-header {
  padding-bottom: 5%;
}

/* End of Register custom CSS */
.ant-table-wrapper {
  position: absolute;
  left: 15%;
  width: 80%;
}

