@import '~antd/dist/antd.css';

body, html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


section.container {
  background-color: #f6ffed;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 60px repeat(3, 200px) 200px;
  grid-template-areas: 
  "s s h h h h h h h h h h"
  "s s c c c c c c c c c c"
  "s s c c c c c c c c c c"
  "s s c c c c c c c c c c"
  "s s c c c c c c c c c c"
  "s s c c c c c c c c c c"
  "s s c c c c c c c c c c"
  "s s c c c c c c c c c c"
  "s s c c c c c c c c c c"
  "s s c c c c c c c c c c"
  "s s c c c c c c c c c c"
  "s s c c c c c c c c c c"
  "s s c c c c c c c c c c"
  "s s c c c c c c c c c c"
  "s s f f f f f f f f f f"
}


/* Begin of App header */
header.app-header__header {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  grid-area: h;
}

@media screen and (max-width: 600px) {
  header {
    grid-column: 1 / -1;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    grid-area: h;
  }

}

.app-header__notification {
  margin-left: auto;
  padding-right: 30px;
}

/* .infinite-container {
  height: 200px;
  overflow: auto;
  border: 1px solid black
} */

ul > li {
  list-style: none;
}

.notification-box {
  z-index: 99;
  width: 100%;
  position: absolute;
  right: 100px;
  top: 80px;
  /* Want to change width of li, change the ul width */
  width: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: gray;
}

#notification-box {
  z-index: -9;
}


.notification-box > h1 {
  display: flex;
  height: 120px;
  background: white;
}

li > h1 {
  color: green;
  background-color: black;
}

/* .ant-list-item-no-flex {
  display: flex;
} */


/* End of App header */

/* Start of App content */
section.content {
  grid-column: 2 / -1;
  grid-area: c;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 0.5fr);
}

div.content-data {
  grid-column: 2 / 10;
  grid-row: 1 / 16 ;
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-template-rows: repeat(50, 0.02fr);
}

div.ant-table {
  border: 1px solid black;
}

.content__members-table {
  grid-row: 10 / span 40;
  grid-column: 1 / span 5;
}

.content__members-profile {
  grid-row: 1 / span 40;
  grid-column: 1 / span 5;
}

.content__summary {
  grid-row: 5 / span 40;
  grid-column: 1 / span 5;
}

/* Start of the summary */
.summary-container {
  display: flex;
  flex-wrap: wrap;
}

.summary-container > .summary-child {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
}

.summary-child > div {
  padding: 20px 20px;
  border: 1px solid gray;
  border-radius: 5px;
  flex: 1 1 100px;
  object-fit: cover;
  margin: 20px;
}

.summary-container > div.big {
  flex: 1 1 300px;
}

.content__button {
  grid-row: 40;
  grid-column: 3
}

.profile-section {
  display: flex;
  flex-direction: column;
}

.profile__page-header {
  display: flex;
}




/* End of App content */

/* Start of Sider */
aside {
  border-right: 1px black solid;
  grid-column: 1 / 3;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: s;
  min-width: 100px;
}

aside > div.ant-image {
  margin-top: 20px;
  flex-shrink: 1;
}

li.ant-menu-item .ant-menu-item-only-child {
  background-color: #73d13d;
}

/* End of Sider */
footer {
  border-top: 1px solid black;
  grid-row: -1;
  grid-column: 1 / -1;
  text-align: center;
  grid-area: f;
}

/* Start of Login custom CSS */
.log-in__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.log-in__card {
  margin-top: 10%;
  width: 600px;
  text-align: center;
  padding-bottom: 5%;
}

.login-button__google {
  padding: 10px;
  margin-top: 7%;
  border: 1px solid #111;
  width: 200px;
  background-color: #fff;
  color: #000;
}


.login-button__google:active {
  background-color: #3367d6;
}

.login-button__google-text {
  text-align: left;
}

/* End of Login custom CSS */


/* Start of Register custom CSS */
.register-content {
  display: flex;
  justify-content: center;
  align-content: center;
}

form.ant-form-vertical {
  margin-top: 10%;
}

.register__form-header {
  padding-bottom: 5%;
}

/* End of Register custom CSS */

