@import "~antd/dist/antd.less";
@small: ~"only screen and (min-width: 350) and (max-width: 600)";

body,
html,
#root {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

section.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 60px repeat(3, 200px) 200px;
  grid-template-areas:
    "s s h h h h h h h h h h"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s f f f f f f f f f f";
}

section.container__sider-sm {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 60px repeat(3, 200px) 200px;
  grid-template-areas:
    "s s h h h h h h h h h h"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s f f f f f f f f f f";
  inset: 0px;
  -webkit-tap-highlight-color: transparent;
  background: linear-gradient(
    75deg,
    rgba(22, 28, 36, 0.48) 0%,
    rgb(22, 28, 36) 100%
  );
  z-index: -1;
}

section.container__no-sider {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 60px repeat(3, 200px) 200px;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "c c c c c c c c c c c c"
    "c c c c c c c c c c c c"
    "c c c c c c c c c c c c"
    "c c c c c c c c c c c c"
    "c c c c c c c c c c c c"
    "c c c c c c c c c c c c"
    "c c c c c c c c c c c c"
    "c c c c c c c c c c c c"
    "c c c c c c c c c c c c"
    "c c c c c c c c c c c c"
    "c c c c c c c c c c c c"
    "c c c c c c c c c c c c"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f";
}

/* Begin of App header */
header.app-header__header {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  grid-area: h;
  height: 100px;
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  header {
    grid-column: 1 / -1;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    grid-area: h;
  }
}

.app-header__notification {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  padding-right: 50px;
}

ul > li {
  list-style: none;
}

.notification-box-container {
  position: absolute;
  background-color: white;
  top: 8vh;
  right: 14vh;
  padding: 0 10px;
  z-index: 1;
  width: 100%;
  position: absolute;
  /* Want to change width of li, change the ul width */
  width: 660px;
  height: 300px;
  border-radius: 20px;
  box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
    rgb(145 158 171 / 24%) 0px 16px 32px -4px;
}

.notification-box {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.notification-box::webkit-scrollbar {
  width: 12px;
}

.message__container {
  background-color: transparent;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message__description {
  display: flex;
  width: 500px;
  flex-direction: column;
  font-size: 0.8125rem;
}

.message__description > h5 {
  width: 100%;
  font-size: 0.8125rem;
  word-wrap: break-word;
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap; /* current browsers */
}

.message__controls {
  margin-left: auto;
  width: 300px;
  display: flex;
  flex-direction: row-reverse;
}

.message__img-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  font-family: "Public Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.message__controls > button {
  margin: 0 2.5px;
}

.message__description > h4 {
  font-weight: bold;
}

.message__no-items {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message__no-items > h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

.notification-box > h1 {
  display: flex;
  height: 120px;
  background: white;
}

.notification-box__text {
  box-sizing: border-box;
  list-style: none;
  color: rgb(99, 115, 129);
  padding: 20px 20px;
  border-bottom: solid 1px gray;
  font-weight: 700;
  line-height: 1.5;
  font-size: 0.75rem;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.notification-bell {
  margin-right: 30px;
}

button.ant-btn-icon-only {
  box-shadow: none;
}

span.ant-input-group-addon {
  background-color: white;
}

li > h1 {
  color: green;
  background-color: black;
}

/* End of App header */

/* Start of App content */
section.content {
  grid-column: 2 / -1;
  grid-area: c;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 0.5fr);
}

div.content-data {
  grid-column: 2 / -2;
  grid-row: 1 / 16;
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-template-rows: repeat(50, 0.02fr);
}

.content__members-table {
  grid-row: 12 / span 40;
  grid-column: 1 / span 5;
}

.members-table-layout {
  background-color: white;
  color: black;
  overflow: hidden;
  box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
    rgb(145 158 171 / 24%) 0px 16px 32px -4px;
  border-radius: 16px;
  background-image: none;
  // transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.ant-pagination {
  margin: 15px;
}

.members-table-layout > header > div > .ant-skeleton > div > ul > li {
  height: 30px;
  margin: 10px 10px 0 10px;
}

.members__pager-container {
  display: flex;
  flex-direction: row-reverse;
}

.members__pager-container > ul {
  padding-right: 20px;
}

.members-skeleton > .ant-skeleton-content > ul {
  margin: 35px;
}

.members-skeleton > .ant-skeleton-content > ul > li {
  padding: 20px;
  height: 20px;
}
.content__create-user {
  position: relative;
  left: 88%;
  bottom: 20%;
  height: 35px;
  width: 120px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  outline: 0px;
  border: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.71429;
  font-size: 0.875rem;
  text-transform: capitalize;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(255, 255, 255);
  /* background-color: rgb(0, 171, 85); */
  background-color: #4650dd;
  box-shadow: rgb(17 99 250 / 24%) 0px 8px 16px 0px;
}

.sm {
  left: 70%;
}

.hidden {
  visibility: hidden;
}

div.ant-table {
  overflow-x: auto;
}

div.ant-table-content {
  padding: 0 20px;
}

.ant-table-pagination.ant-pagination {
  margin: 16px 30px;
}

.ant-pagination-simple .ant-pagination-simple-pager > input {
  width: 30px;
  overflow: scroll;
  border: none;
}

thead.ant-table-thead > tr > th {
  background-color: white;
}

.content__members-profile {
  grid-row: 1 / span 40;
  grid-column: 1 / span 5;
}

.profile__modal {
  width: 80% !important;
}

.content__summary {
  grid-row: 5 / span 40;
  grid-column: 1 / span 5;
}

/* Start of the summary */
.summary-container {
  display: flex;
  flex-wrap: wrap;
}

.summary-container > .summary-child {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.summary-child > div {
  padding: 20px 30px;
  border: 1px solid transparent;
  border-radius: 5px;
  flex: 1 1 100px;
  object-fit: cover;
  margin: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.wrap-border {
  padding: 20px 20px;
  // border: 1px solid gray;
  border: none;
  border-radius: 1rem;
  margin: 20px;
  -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.sub-container-flex-row {
  display: flex;
  /* object-fit: cover; */
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.age-slider-piechart-panel {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.barchart-stats-panel {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.stats-card__2nd_type {
  height: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #f8d7da;
  background-clip: border-box;
  border: 1px solid transparent !important;
  border-radius: 20px !important;
  -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.stats-card__2nd_type > div {
  flex: 1 1 auto;
  padding: 1rem;
  justify-content: space-between !important;
  align-items: center !important;
  display: flex !important;
  padding-right: 10px;
}

.summary-container > div.big {
  flex: 1 1 300px;
}

.content__button {
  grid-row: 40;
  grid-column: 3;
}

.bizcharts-plot {
  height: 500;
}

.bizcharts-plot-title {
  font-size: 20px !important;
  padding: 10px !important;
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-weight: 500 !important;
}

.bizcharts-plot-description {
  font-size: 14px !important;
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.profile-section {
  display: flex;
  flex-direction: column;
}

.profile__page-header {
  display: flex;
}

.ant-form-item-control-input-content > div.ant-select {
  width: 100%;
}

//Styling form create/edit user
.ant-form-vertical .ant-form-item {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.ant-form-vertical .ant-form-item-label,
.ant-col-24.ant-form-item-label,
.ant-col-xl-24.ant-form-item-label {
  grid-column: 1 / span 4;
}

.ant-form-item-control {
  grid-column: 5 / -1;
}

.skeleton__ant-form-item > .ant-skeleton > .ant-skeleton-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.skeleton__ant-form-item
  > .ant-skeleton
  > .ant-skeleton-content
  > .ant-skeleton-title {
  grid-column: 1 / span 3;
  width: 90% !important;
  height: 35px;
}

.skeleton__ant-form-item
  > .ant-skeleton
  > .ant-skeleton-content
  > .ant-skeleton-paragraph {
  grid-column: 4 / -1;
  margin-top: 16px;
}

.skeleton__ant-form-item
  > .ant-skeleton
  > .ant-skeleton-content
  > .ant-skeleton-paragraph
  > li {
  width: 90% !important;
  height: 35px;
}

//Styling Stats page

.stats__main-container {
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  justify-content: space-between;
  border-radius: 50rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 20px;
  margin-left: 1px;
}

.dot + div > h4 {
  // margin-top: -10px;
  color: black;
}

.dot + div > h5 {
  // margin-top: 10px;
}

.stats-main__texts {
  display: flex;
  flex-direction: column;
}

.stats_organization-select-container {
  width: 100%;
  display: flex;
}

.stats_organization-select-container > h1 {
  padding-left: 40px;
  margin-right: auto;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.stats__organizations-select {
  width: 300px !important;
  margin-right: 30px;
}

.ant-card-head-wrapper {
  width: 100%;
}

/* End of App content */

/* Start of Sider */
aside {
  border-right: 1px rgba(145, 158, 171, 0.24) solid;
  grid-column: 1 / 3;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: s;
  width: 280px;
  z-index: 9;
}

.sider__user-logo-container {
  width: 100%;
  height: 100px;
  padding: 24px 20px;
  margin-top: 20px;
}

.sider__user-logo-container > img {
  width: 60px;
  height: 60px;
  max-width: 100px;
  margin-left: 20px;
}

.sider__user-tag-container {
  margin: 20px 20px 40px 20px;
  min-width: 250px;
}

.sider__user-tag {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 16px 20px;
  border-radius: 12px;
  background-color: rgb(244, 246, 248);
}

.sider__user-tag-img-container {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  font-family: "Public Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
}

.sider__user-tag-img {
  display: block;
  max-width: 100%;
}

.sider__user-tag-text {
  margin-left: 20px;
  color: rgb(33, 43, 54);
  font-size: 1rem;
  line-height: 1.5;
  overflow: hidden;
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
}

ul.sider__menu {
  list-style: none;
  margin: 0px;
  padding: 0px;
  position: relative;
}

ul > li.ant-menu-item .ant-menu-item-selected {
  height: 60px;
  align-items: center;
}

ul > li > span.anticon {
  padding: 8px 20px 8px 20px;
}

.ant-menu-item a {
  color: rgb(99, 115, 129);
}

.ant-menu-vertical > .ant-menu-item,
.ant-menu-vertical-left > .ant-menu-item,
.ant-menu-vertical-right > .ant-menu-item,
.ant-menu-inline > .ant-menu-item,
.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 50px;
}

ul > li > span > a {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  border-radius: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  padding: 8px 20px 8px 0px;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  line-height: 1.57143;
  font-size: 0.875rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  height: 48px;
  position: relative;
  text-transform: capitalize;
}

thead.ant-table-thead > tr > th {
  color: black;
  font-weight: bold;
}

/* End of Sider */

li.ant-menu-item .ant-menu-item-only-child {
  background-color: #73d13d;
}

/* Start of Login custom CSS */
.log-in__content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-image: url(./sections/LogIn/assets/quocTuGiam.jpg);
}

.log-in__big-img {
  // width: 100%;
  // height: 300px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 50px;
}

.log-in__card {
  // margin-top: 10%;
  width: 600px;
  text-align: center;
  padding-bottom: 5%;
}

.login-button__google {
  padding: 10px;
  margin-top: 7%;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 250px;
  background-color: #fff;
  color: #000;
  // -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  // box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.login-button__google:active {
  background-color: #3367d6;
}

.login-button__google-text {
  text-align: left;
}

/* End of Login custom CSS */

/* Start of Register custom CSS */
.register__img-container {
  margin-right: auto;
  height: 100%;

  background-color: rgb(255, 255, 255);
  color: rgb(33, 43, 54);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-image: none;
  overflow: hidden;
  box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
    rgb(145 158 171 / 24%) 0px 16px 32px -4px;
  border-radius: 16px;
  position: relative;
  z-index: 0;
  width: 100%;
  max-width: 464px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 16px 0px 16px 16px;
}

.register__img-container > h3 {
  margin: 80px 0px 40px;
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.5rem;
  font-family: "Public Sans", sans-serif;
  padding-left: 40px;
  padding-right: 40px;
}

.register__form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  // display: block;
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Public Sans", sans-serif;
}

.register__form-submit-button {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.71429;
  font-size: 0.9375rem;
  text-transform: capitalize;
  font-family: "Public Sans", sans-serif;
  min-width: 64px;
  padding: 8px 22px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  background-color: #4650dd;
  width: 100%;
  box-shadow: rgb(17 99 250 / 24%) 0px 8px 16px 0px;
  height: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  margin-top: 50px;
}

.register__form-container > form > .ant-form-item {
  display: flex;
}

.register__form-container > form > .ant-form-item > div > label {
  padding: 0;
  margin: 80px 0px 40px;
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.5rem;
  font-family: "Public Sans", sans-serif;
}

.register__form-header {
  padding-bottom: 5%;
}

/* End of Register custom CSS */

/* Start of not found and pending css*/
.pending__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pending__container > div {
  margin-bottom: 200px;
}

.pending__container > div > h1 {
  margin: 0px 0px 16px;
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.5rem;
  font-family: "Public Sans", sans-serif;
}

.pending__container > div > h3 {
  margin: 0px;
  line-height: 1.5;
  font-size: 1rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  color: rgb(99, 115, 129);
}

.page__error-link > .pending__container + a {
  width: 200px;
  left: auto;
}

.footer__org-name {
  flex: 1 1 250px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer-container {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer__org-name > h3 {
  padding: 5px 0px 15px 0px;
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 10px;
}

.footer__org-name > h3:last-child {
  font-weight: initial;
}

.long {
  flex: 1 0 500px;
}

.short {
  flex: 1 1 150px;
}

footer {
  grid-row: -2; //-1 make the sider lose border right abit
  display: flex;
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.7rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.openned {
  grid-column: 7 / span 6;
}

.closed {
  grid-column: 11 / span 2;
}

.nothing {
  background-color: inherit;
}

.disabled-row {
  background-color: #f9f9f9 !important;
  // pointer-events: none !important;
}
